//Fonts
$font-1: 'Open Sans', sans-serif;
$font-2: 'Roboto', sans-serif;

//Colors

$color-1: #002F6C;
$color-2: #E03C31;
$color-3: #231F20;
$color-4: #FFFFFF;
$color-5: #F2F3F9;
$color-6: #021948;
$color-7: #070B32;
$color-8: #0C6FB5;
